name: Sky-Menu-CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  format:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: pnpm

      # - name: Install Nest js
      #   run: pnpm i -g @nestjs/cli

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Format
        run: pnpm run format

      # - name: Commit formatted files
      #   uses: stefanzweifel/git-auto-commit-action@v5
      #   with:
      #     commit_message: 'ci-fix: automatic prettier format fixes (pnpm run format) '

      - name: Setup Git
        run: |
          git config --global user.name "Job CI"
          git config --global user.email "jobtennis21@gmail.com

      - name: Push changes
        run: |
          if ! git diff --quiet; then
            git pull --rebase origin "$(git rev-parse --abbrev-ref HEAD)"
            git add .
            git commit -m "ci-fix: automatic prettier format fixes (pnpm run format)"
            git push
          else
            echo "No formatting changes to commit."
          fi

  lint:
    needs: format
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Lint
        run: pnpm run lint --fix

      # - name: Commit linted files
      #   uses: stefanzweifel/git-auto-commit-action@v5
      #   with:
      #     commit_message: 'lint-fix: automatic pnpm run  lint --fix'

      - name: Setup Git
        run: |
          git config --global user.name "Job CI"
          git config --global user.email "jobtennis21@gmail.com

      - name: Push changes
        run: |
          if ! git diff --quiet; then
            git pull --rebase origin "$(git rev-parse --abbrev-ref HEAD)"
            git add .
            git commit -m "ci-lint-fix: automatic pnpm run  lint --fix"
            git push
          else
            echo "No formatting changes to commit."
          fi

  build-and-push:
    needs: format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile 
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/sky-menu:${{ github.run_id }}



  update-helm-chart:
    needs: build-and-push
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update Helm chart with new image tag
        run: |
          sed -i 's/tag: .*/tag: "${{ github.run_id }}"/' helm/sky-menu-chart/values.yaml

      # - name: Commit and push changes
      #   uses: stefanzweifel/git-auto-commit-action@v5
      #   with:
      #     commit_message: 'ci-feat: update helm chart with new image tag' 

      - name: Setup Git
        run: |
          git config --global user.name "Job CI"
          git config --global user.email "jobtennis21@gmail.com

      - name: Push changes
        run: |
          if ! git diff --quiet; then
            git pull --rebase origin "$(git rev-parse --abbrev-ref HEAD)"
            git add .
            git commit -m "chore: auto-format files"
            git push
          else
            echo "ci-feat: update helm chart with new image tag"
          fi
  